body {
    padding-top: 40px;
}

div {
    background: black;
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -40px;
}

header {
    top: -80;
}

main {
    height: auto;
     margin-left: 180px;
    margin-right: 180px;
}

footer { 
    background: black;
}


p{
    color:black;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;

}

a {
    float:right;
    margin-right: 20px;
    font-size: 20px;
}